* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #125784;
    color: #fff;
    padding: 1em;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    flex: 0 0 auto;
}

.logo img {
    height: 100px;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu li {
    margin-right: 20px;
}

nav li {
    margin: 0 1em;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
}

.menu a:hover {
    color: #000;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.img1 {
    background-image: url("./resources/img1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 1;
}

.content h1 {
    font-size: 3em;
}

.text-image-section {
    background-color:  #f57f17;
    display: flex;
    align-items: center;
}

.image-container {
    flex: 1;
    text-align: left;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.text-container {
    flex: 4;
    padding-left: 60px;
}

.text-container h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}


.text-container p {
    font-size: 1.2em;
}

.image-grid {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.image-wrapper {
    flex: 1;
}

.image-wrapper img {
    max-width: 100%;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.form-section {
    background-color: #5e35b1;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    width: 80%;
}

input, select, textarea {
    margin-bottom: 15px;
    padding: 5px;
    width: 100%;
}


input[type="submit"] {
    border: none;
    color: #000;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #000;
    color: white;
}

.select-label {
    color: #fff;
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 15px;
}

.radio-label {
    color: #fff;
    margin-right: 20px;
}

.radio-group {
    display: flex;
    align-items: center;
}

footer {
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 60px;
}

.footer-logo {
    margin-right: 20px;
}

.footer-logo img {
    max-width: 100px;
}

.footer-content h3 {
    margin: 0;
    margin-bottom: 10px;
}



/* Responsive styles for screens smaller than 768px */
@media (max-width: 767px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .header .search-bar {
        margin-top: 10px;
    }

    .form-section {
        padding: 20px;
    }

    form {
        width: 100%;
    }
}

/* Responsive styles for screens smaller than 450px */
@media (max-width: 450px) {
    .text-container h2 {
        font-size: 24px;
    }

    .text-container p {
        font-size: 14px;
    }
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

